body{
color: rgb(0, 132, 255);
background: rgb(0, 0, 0);
}

header{
    border-bottom:solid 2px rgb(rgb(47, 68, 255));
    padding: 20px;
    font-size: 32px;
    color: rgb(144, 3, 238);
    background-color: aliceblue;
}
.chamada{
    background-color: rgb(0, 195, 255);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin: right 5%;
}

p{
    text-align: center;
    font-size: 10px;
}